.mainDiv{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
}

.childDiv{
  width:30%;
  text-align: center;
}

input{
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
}
h1{
  color: #db750b;
}
button{
  padding: 10px 15px;
  color: white;
  background-color: #db750b;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

table, th, td { 
  border: 1px solid black; 
  border-collapse: collapse; 
} 
table{
  width:19%;
  margin: 5px;
}
th, td { 
  padding: 5px; 
  text-align: left; 
} 
.dateCol{
  background-color: #db750b;
}
.subData{
  background-color: #b0c3d5;
}

.dataDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.childElement{
  width:25%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
